@font-face {
  font-family: 'Post_no_bills';
  src: local('Post_no_bills'),
    url(../../assets/fonts/Post_no_bills/postnobillscolombo-extrabold.ttf)
      format('truetype');
}

.timer-content {
  font-family: 'Post_no_bills', sans-serif;
  font-size: 35px;
  color: rgba(251, 168, 92, 1);
}
