@font-face {
  font-family: 'Post_no_bills';
  src: url(../../assets/fonts/Post_no_bills/postnobillscolombo-extrabold.ttf);
}

.timer-content {
  font-family: 'Post_no_bills', sans-serif;
  font-size: 35px;
  color: rgba(251, 168, 92, 1);
}
