@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

.cardcontainer {
  width: 90%;
  border-radius: 15px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 15px;
}

.titleLocation {
  display: flex;
  justify-content: space-between;
}
.titleLocationwrapper {
  padding-left: 2%;
}

.titleLocationwrapper p {
  margin: 0px 0px 5px 0px;
}
.card {
  padding: 20px 0;
  width: 70%;
  margin: auto;
  background-color: rgb(251, 168, 92);
  background-image: url('../../assets/images/background/background-treasure-map.png');
}
.choosebox {
  margin-top: 15px;
}

@media only screen and (max-width: 660px) {
  .titleLocation {
    display: block;
  }
}
