@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Roboto&display=swap');

.achieveMain {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(2, 13vw);
  grid-gap: 40px;
}

.AchieveBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 155px;
  height: 124px;
  margin-top: 45px;
  margin-left: 10px;
  background: #fba85c;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
}


.AchieveCircle {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: -20px;
  background: #e3e3e9;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
}

img {
  width: 30px;
}

.wireframes {
  font-family: 'Rammetto One', cursive;
  font-size: 20px;
  color: #ffffff;
}
