@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Roboto&display=swap');
.button-component {
  color: white;
  font-family: 'Rammetto One', cursive;
  background: #f26114;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 25px;
  line-height: 42px;
  padding: 12px 22px;
}

.button-component:focus {
  background-color: rgb(251, 168, 92);
}
