.sharegametext {
  position: absolute;
  width: 225px;
  height: 44px;
  left: 73px;
  top: 81px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.qrcode {
  margin: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #484848;
}

.qrcodebar {
  position: absolute;
  left: 14.4%;
  right: 15.47%;
  top: 24.01%;
  bottom: 43.6%;
  border: 1px solid #000000;
  box-sizing: border-box;
}
