@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Roboto&display=swap');

.form-input {
  background: #ffffff;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #c4c4c4;
}

.form-label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #c4c4c4; /* color in label changed to light grey to contrast background */
}
