.leader-board-item {
  display: flex;
  border-bottom: 2px solid rgb(199, 198, 198);
  justify-content: space-between;
  margin: 0 20px;
  color: #828282;
}

.title-div h3 {
  line-height: 34px;
  color: #828282;
}

.leader-board-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

p.timer {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.avatar {
  max-width: 110px;
}

.leaderboardlist {
  background-color: #fff;
}
.leaderboardlist::before {
  content: '';
  width: 95%;
  height: 100%;
  background-image: url(../../assets/images/background/background-treasure-map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #fff;
  opacity: 0.1;
  display: block;
  position: absolute;
}

.avatar-div {
  margin: 15px 15px 15px 0px;
}
