/* Global css */

body,
html,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
ul,
li,
p {
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  font-size: 16px;
}

img {
  width: 100%;
}

/* Homepage css */

.bodycontainer {
  margin: 0px auto;
  position: relative;
  background-color: #f9a55a;
  background-position: 0 0;
  background-repeat: no-repeat;

  /* Fallback */
  background-image: url('assets/images/background/background-treasure-map.png');

  /* CSS gradients */
  background-image: url('assets/images/background/background-treasure-map.png'),
    -moz-linear-gradient(top, #f9a55a 0%, #eb7f44 100%);
  background-image: url('assets/images/background/background-treasure-map.png'),
    -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9a55a), color-stop(100%, #eb7f44));
  background-image: url('assets/images/background/background-treasure-map.png'),
    linear-gradient(to bottom, #f9a55a, #eb7f44);

  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9A55A', endColorstr='#eb7f44', GradientType=0);
  background-position: center top;
  background-size: cover;
}

.bodywrapper {
  position: relative;
  padding: 5%;
}
.homelogocontainer {
  width: 100%;
  padding: 39% 10% 26% 10%;
}
.homelogo {
  width: 65.5%;
  margin: 0px auto 4% auto;
}

.homelogocontainer h1 {
  font-family: 'Rammetto One', cursive;
  color: #ffffff;
  text-align: center;
  font-size: 29px;
}
.bodywrapper .button-component {
  margin-bottom: 7%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .bodycontainer {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bodycontainer {
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .bodycontainer {
    width: 40%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bodycontainer {
    width: 375px;
  }
}
