@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

#root {
  margin: 0px auto;
  margin-top: 5%;
  width: 18%;
}
