@import 'theme.css';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
/* 
#root:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/background/background-treasure-map.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2200px;
  background-position: 10% 15%;
  opacity: 10%;
  z-index: -1;
}
@media (max-width: 576px) {
  #root:before {
    background-size: 1300px;
    background-position: 90% 30%;
  }
} */
