:root {
  /* Available colors */
  --black: #000;
  --white: #fff;
}

@font-face {
  font-family: RammettoOne;
  src: url('./assets/fonts/Rammetto_One/RammettoOne-Regular.ttf');
}
@font-face {
  font-family: PostNoBills;
  src: url('./assets/fonts/Post_No_Bills/PostNoBillsColombo-Extrabold.ttf');
}
@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf'),
    url('./assets/fonts/Roboto/Roboto-Medium.ttf'),
    url('./assets/fonts/Roboto/Roboto-Bold.ttf');
}
