button.arrow {
    color: #795548;
    height: 25px;
    width: 25px;
    border: 2px solid #795548;
    border-radius: 50%;
    font-size: 19px;
    background-color: transparent;
}

.arrowRight {
  margin-left: auto;
}

